.logo-fiche {
    margin-top: -11.5%;
    background-color: red;
    display:block;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
:host {
    font-family: 'pathfinderFiche';
}
.row {
    display: flex;
    align-items: center;
}