<div class="text-center">Valeurs de combats</div>
<div class="bloc">
    <div class="row no-gutters">
        <div class="col-8">
            <div class="row no-gutters titre-row">
                <div class="col-3"></div>
                <div class="col-9 row no-gutters light-font text-center">
                    <div class="col-4 long-libelle">Bonus&nbsp;d'attaque</div>
                    <div class="col-2">BBA</div>
                    <div class="col-2">Carac</div>
                    <div class="col-2">Taille </div>
                    <div class="col-2">Spc</div>
                </div>
            </div>
            <div class="row no-gutters standard-row">
                <div class="col-2 heavy-font">
                    Càc
                </div>
                <div class="col-10 row no-gutters">
                    <div class="col-4">
                        <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'For'" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                </div>
            </div>
            <div class="row no-gutters standard-row">
                <div class="col-2 heavy-font">
                    Dist
                </div>
                <div class="col-10 row no-gutters">
                    <div class="col-4">
                        <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'Dex'" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                </div>
            </div>
            <div class="row no-gutters standard-row">
                <div class="col-2 heavy-font">
                    BMO
                </div>
                <div class="col-10 row no-gutters">
                    <div class="col-4">
                        <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'For?'" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                    <div class="col-2">
                        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                    </div>
                </div>
            </div>
            <!-- Valeurs de CA -->
            <div class="row no-gutters">
                <div class="col-3">
                    <div class="row no-gutters">
                        <div class="col-6 heavy-font">CA</div>
                        <div class="col-6">
                            <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                    <div class="row no-gutters long-libelle">
                        <div class="col-6 heavy-font">Contact (-a)</div>
                        <div class="col-6">
                            <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="'-a'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                    <div class="row no-gutters long-libelle">
                        <div class="col-6 heavy-font">Surpris (-b)</div>
                        <div class="col-6">
                            <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="'-b'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                    <div class="row no-gutters very-long-libelle">
                        <div class="col-6 heavy-font">Contact intangible</div>
                        <div class="col-6">
                            <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-center grey-bloc">
                    <div class="row no-gutters long-libelle">
                        <div class="col-12 heavy-font">Armure</div>
                        <div class="col-12">
                            <shared-graphique-case-oblique [classe]="'layered-white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                    <div class="row no-gutters long-libelle">
                        <div class="col-12 heavy-font">Bouclier</div>
                        <div class="col-12">
                            <shared-graphique-case-oblique [classe]="'layered-white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                    <div class="row no-gutters long-libelle">
                        <div class="col-12 heavy-font">Naturel</div>
                        <div class="col-12">
                            <shared-graphique-case-oblique [classe]="'layered-white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row no-gutters light-font text-center">
                        <div class="col-2"></div>
                        <div class="col-4">Taille</div>
                        <div class="col-4">Parade</div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row no-gutters light-font text-center">
                        <div class="col-2"></div>
                        <div class="col-4">
                            <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                        <div class="col-4">
                            <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'.'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row no-gutters light-font text-center">
                        <div class="col-4">Chance</div>
                        <div class="col-4">Intuit</div>
                        <div class="col-4">Circons</div>
                    </div>
                    <div class="row no-gutters light-font text-center">
                        <div class="col-4">
                            <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'.'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                        <div class="col-4">
                            <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'.'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                        <div class="col-4">
                            <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'.'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                    <div class="row no-gutters light-font text-center">
                        <div class="col-4">Moral</div>
                        <div class="col-4">Saint</div>
                        <div class="col-4">Malfais</div>
                    </div>
                    <div class="row no-gutters light-font text-center">
                        <div class="col-4">
                            <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'.'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                        <div class="col-4">
                            <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'.'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                        <div class="col-4">
                            <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'.'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-center">
                    <div class="grey-bloc">
                        <div class="row no-gutters light-font">
                            <div class="col-12">Dex</div>
                            <div class="col-12">
                                <shared-graphique-case-oblique [classe]="'layered-white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                            </div>
                        </div>
                        <div class="row no-gutters light-font">
                            <div class="col-12">Esquive</div>
                            <div class="col-12">
                                <shared-graphique-case-oblique [classe]="'layered-white-slot'" [titre]="'.'" [contenu]="''"></shared-graphique-case-oblique>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters light-font">
                        <div class="col-12">Sag</div>
                        <div class="col-12">
                            <shared-graphique-case-oblique [classe]="'layered-white-slot'" [titre]="'.'" [contenu]="''"></shared-graphique-case-oblique>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Valeurs de DMD -->
            <div class="row no-gutters text-center">
                <div class="col-4"></div>
                <div class="col-8">
                    <div class="row no-gutters light-font text-center">
                        <div class="col-2">BBA</div>
                        <div class="col-2">For</div>
                        <div class="col-2">Dex </div>
                        <div class="col-2 long-libelle">&#45;Taille</div>
                        <div class="col-2 long-libelle">Divers</div>
                        <div class="col-2">Spc</div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col heavy-font">
                    DMD
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'+.'" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
            </div>
            <!-- Etats de combats -->
            <div class="row no-gutters long-libelle text-center">
                <div class="col">
                    Combat défensif
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'+2'" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col">
                    Défense totale
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'+4'" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col">
                    Pénalité cmpt
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col">
                    Échec sorts
                </div>
                <div class="col">
                    <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row no-gutters full-height-column">
                <div class="col-12 grid-row-1">
                    <shared-graphique-case-oblique [classe]="'grid-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
                <div class="col-12 grid-row-2">
                    <shared-graphique-case-oblique [classe]="'grid-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
                </div>
            </div>
        </div>
    </div>
</div>