:host {
    font-family: 'pathfinderFiche';
}
.bloc {
    border: 2px solid #231F20;
    margin: 0px 10px 0px 5px;
    padding: 5px;
    height: 93%;
    /* Calage des éléments sur la hauteur du bloc */
    .standard-row {
        height: 15%;
    }
    .titre-row {
        height: 4%;
    }
    .grid-row-1 {
        height: 40%;
    }
    .grid-row-2 {
        height: 60%;
    }
    .full-height-column {
        height: 100%;
    }
    >.row {
        height: 100%;
        >.col-4 {
            height: 100%;
        }
    }
    .grey-bloc {
        background-color: #DCDDDE;
    }
}
.bloc-titre {
    height: 7%;
}
.row {
    display: flex;
    align-items: center;
}
.heavy-font {
    font-weight: 600;
}
.light-font {
    font-size: 0.8rem;
}
.long-libelle {
    font-size: 0.7rem;
}
.very-long-libelle {
    font-size: 0.6rem;
}