@font-face {
  font-family: 'Black family';
  src: url('/assets/fonts/Embossed Black Normal.eot'), /*url('/assets/fonts/Embossed Black Normal.ttf') format('truetype'),*/ url('/assets/fonts/Embossed Black Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Wishing Well';
  src: url('/assets/fonts/Wishing Well.eot'), url('/assets/fonts/Wishing Well.ttf') format('truetype'), url('/assets/fonts/Wishing Well.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DJB My Boyfriends Handwriting';
  src: url('/assets/fonts/DJB My Boyfriends Handwriting.eot'), url('/assets/fonts/DJB My Boyfriends Handwriting.ttf') format('truetype'), url('/assets/fonts/DJB My Boyfriends Handwriting.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ellianarelle s Path';
  src: url('/assets/fonts/Ellianarelle s Path.eot'), url('/assets/fonts/Ellianarelle s Path.ttf') format('truetype'), url('/assets/fonts/Ellianarelle s Path.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JaspersHandwriting';
  src: url('/assets/fonts/JaspersHandwriting.eot'), url('/assets/fonts/JaspersHandwriting.ttf') format('truetype'), url('/assets/fonts/JaspersHandwriting.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}