/* Blocks titles, chapters and pagination */
/*.medieval-font {
  font-family: 'Black family';
}
.manuscrit-font {
  font-family: 'DJB My Boyfriends Handwriting';
}
.regular-font {
  font-family: 'Wishing Well';
}*/


.medieval-title {
  $params: (
    'font-family': 'OldLondon',
    'font-size': 2.8,
    'unite': rem,
  );
  @include typographie($params);
}
.medieval-subtitle {
  $params: (
    'font-family': 'OldLondon',
    'font-size': 1.6,
    'unite': rem,
  );
  @include typographie($params);
}
