/* Blocks titles, chapters and pagination */
.medieval-font {
  font-family: 'Black family';
}
.manuscrit-font {
  font-family: 'DJB My Boyfriends Handwriting';
}
.regular-font {
  font-family: 'Wishing Well';
}


.medieval-title {
  @include typographie('OldLondon', 2.8, rem, $couleurPrincipale);
}
.medieval-subtitle {
  @include typographie('OldLondon', 1.6, rem, $couleurPrincipale);
}
