/* 
Taille du gestionnaire
*/
.feature-gestionnaire-de-taches.active i {
    font-size: 2em;
}
.feature-gestionnaire-de-taches nav {
    min-width: 250px;
    max-width: 250px;
    /*background: rgb(221, 221, 221);
    color: #fff;*/
    transition: all 1s;
}
.feature-gestionnaire-de-taches.active nav {
    min-width: 30px;
    max-width: 30px;
}
/* 
Affichage des éléments  en fonction du contexte
*/
.feature-gestionnaire-de-taches header h3 {
    display: block;
}
.feature-gestionnaire-de-taches.active header h3 {
    display: none;
}
.feature-gestionnaire-de-taches header strong {
    display: none;
}
.feature-gestionnaire-de-taches p {
    display: block;
}
.feature-gestionnaire-de-taches.active p {
    display: none;
}
/*
Rotation du titre
*/
.feature-gestionnaire-de-taches.active header strong {
    display: inline-block;
    border-top: 4px solid rgb(133, 16, 16);
    transform: rotate(90deg);
}