<div class="bloc civilite">
  <div class="row  no-gutters pb-4">
    <div class="col-7 row no-gutters">
      <div class="col-md-auto medieval-title">Personnage</div>
      <div class="col border-bottom ml-3 mr-3 mt-3 medieval-content text-center">{{personnage.nom}}</div>
    </div>
    <div class="col-5 row no-gutters">
      <div class="col-md-auto medieval-subtitle mt-3">Joueur</div>
      <div class="col border-bottom ml-3 mt-3 medieval-content text-center">{{personnage.joueur}}</div>
    </div>
  </div>
  <div class="row medieval-subtitle no-gutters">
    <div class="col-7 row no-gutters">
      <div class="col-5">
        Profil
      </div>
      <div class="col-3">
        Niveau
      </div>
      <div class="col-4">
        Race
      </div>
    </div>
    <div class="col-5 row no-gutters">
      <div class="col-3">
        Sexe
      </div>
      <div class="col-3">
        Âge
      </div>
      <div class="col-3">
        Taille
      </div>
      <div class="col-3">
        Poids
      </div>
    </div>
  </div>
  <div class="row medieval-subtitle no-gutters medieval-content text-center">
    <div class="col-7 row no-gutters">
      <div class="col-5 pr-3">
        <div class="border-bottom ligne">{{personnage.profils | concat: '/'}}</div>
      </div>
      <div class="col-3  pr-3">
        <div class="border-bottom ligne">{{personnage.niveau}}</div>
      </div>
      <div class="col-4  pr-3">
        <div class="border-bottom ligne">{{personnage.race}}</div>
      </div>
    </div>
    <div class="col-5 row no-gutters">
      <div class="col-3">
        <div class="border-bottom ligne">{{personnage.civilite.sexe}}</div>
      </div>
      <div class="col-3">
        <div class="border-bottom ligne">{{personnage.civilite.age}}</div>
      </div>
      <div class="col-3">
        <div class="border-bottom ligne">{{personnage.civilite.taille}}</div>
      </div>
      <div class="col-3">
        <div class="col-12 border-bottom ligne">{{personnage.civilite.poids}}</div>
      </div>
    </div>
  </div>
</div>