<div class="civilite">
  <div class="row ligne-1">
    <div class="col-7 row">
      <div class="col-md-auto medieval-title">Personnage</div>
      <div class="col underline"></div>
    </div>
    <div class="col-5 row">
      <div class="col-md-auto medieval-subtitle">Joueur</div>
      <div class="col underline"></div>
    </div>
  </div>
  <div class="row medieval-subtitle no-gutters">
      <div class="col-7 row no-gutters">
          <div class="col-5 gutters">
            <div class="w-100 ligne-2">Profil</div>
            <div class="w-100 underline ligne-3"></div>
          </div>
          <div class="col-3 gutters">
            <div class="w-100 ligne-2">Niveau</div>
            <div class="w-100 underline ligne-3"></div>
          </div>
          <div class="col-4 gutters">
            <div class="w-100 ligne-2">Race</div>
            <div class="w-100 underline ligne-3"></div>
          </div>
      </div>
      <div class="col-5 row no-gutters">
          <div class="col-3">
            <div class="w-100 ligne-2">Sexe</div>
            <div class="w-100 underline ligne-3"></div>
          </div>
          <div class="col-3">
            <div class="w-100 ligne-2">Âge</div>
            <div class="w-100 underline ligne-3"></div>
          </div>
          <div class="col-3">
            <div class="w-100 ligne-2">Taille</div>
            <div class="w-100 underline ligne-3"></div>
          </div>
          <div class="col-3 row">
            <div class="col-12 ligne-2">Poids</div>
            <div class="col-12 underline ligne-3"></div>
          </div>
      </div>
  </div>
</div>