@import '../_scss/_main.scss';


$grisEfface: #e8e1dd;

.bloc {
    margin-top: 0.8rem;

    .decalage-bloc {
        padding-right: 10px !important;
    }
    .champ-libre {
        border: 1px solid #6a3d24;
        height: 100px;
        margin: 2px;
    }
    .option-label {
        div {
            line-height: 3.5rem;
        }
        .gris {
            color: $grisEfface;
        }
    }
}