<div class="row no-gutters">
  <div class="col">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Nom du personnage'" [contenu]="personnage.nom"></shared-graphique-case-oblique>
  </div>
  <div class="col">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Classes & niveaux'" [contenu]="'Rodeur(1)'"></shared-graphique-case-oblique>
  </div>
  <div class="col">
    <img class="img-responsive logo-fiche" src="./assets/image/pathfinder-rpg-logo.png" />
  </div>
</div>
<div class="row no-gutters">
  <div class="col-4">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Race/ethnie & catégorie de taille'" [contenu]="'Elfe des bois (M)'"></shared-graphique-case-oblique>
  </div>
  <div class="col-2">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Sexe'" [contenu]="'H'"></shared-graphique-case-oblique>
  </div>
  <div class="col-2">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Religion/symbole'" [contenu]="'Athée'"></shared-graphique-case-oblique>
  </div>
  <div class="col-4">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Joueur & date de création'" [contenu]="'Anthony R'"></shared-graphique-case-oblique>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-2">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Nation / origine'" [contenu]="'Ouestfall'"></shared-graphique-case-oblique>
  </div>
  <div class="col-2">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Age'" [contenu]="'142&nbsp;ans'"></shared-graphique-case-oblique>
  </div>
  <div class="col-2">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Poids & taille'" [contenu]="'182cm, 76kg'"></shared-graphique-case-oblique>
  </div>
  <div class="col-1">
    <shared-graphique-case-oblique [isShort]="true" [classe]="'civilite'" [titre]="'Yeux'" [contenu]="'Vert'"></shared-graphique-case-oblique>
  </div>
  <div class="col-2">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Cheveux'" [contenu]="'chatain long'"></shared-graphique-case-oblique>
  </div>
  <div class="col-1">
    <shared-graphique-case-oblique [isShort]="true" [classe]="'civilite'" [titre]="'Peau'" [contenu]="'claire'"></shared-graphique-case-oblique>
  </div>
  <div class="col-2">
    <shared-graphique-case-oblique [classe]="'civilite'" [titre]="'Dextrie'" [contenu]="'Droitier'"></shared-graphique-case-oblique>
  </div>
</div>