<div class="bloc voie">
  <menu-option></menu-option>
  <!-- Lignes et Colonnes -->
  <div class="row no-gutters">
    <div class="col-12">
      <div class="titre text-left">CAPACITÉS DU PERSONNAGE</div>
    </div>
  </div>
  <br />
  <!-- Tableau des voies -->
  <div class="row no-gutters titre-voie text-center">
    <div class="column-number"></div>
    <div class="col">Voie 1</div>
    <div class="col">Voie 2</div>
    <div class="col">Voie 3</div>
    <div class="col">Voie 4</div>
  </div>
  <div class="row no-gutters">
    <div class="column-number titre-voie text-center">R</div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row no-gutters row-voie">
    <div class="column-number titre-voie text-center center-number">1</div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row no-gutters row-voie">
    <div class="column-number titre-voie text-center center-number">2</div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row no-gutters row-voie">
    <div class="column-number titre-voie text-center center-number">3</div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row no-gutters row-voie">
    <div class="column-number titre-voie text-center center-number">4</div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row no-gutters row-voie">
    <div class="column-number titre-voie text-center center-number">5</div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>