@import '../../_scss/_main.scss';

.voie {
    margin-top: 0.8rem;
    //height: 130mm;

    .titre-voie {
        background-color: $couleurPrincipale;
        $params: (
            'unite': rem,
            'color': white,
            'line-height': 2.5,
            'font-weight': 600
        );
        @include typographie($params);
    }
    /*
    * Mise en page du tableau des profils / voies
    */
    .column-number {
        width: 25px;
    }
    .center-number {
        line-height: 35mm !important;
    }
    .row-voie {
        height: 35mm;
        line-height: 1rem;
    }
    .col {
        border-right: 1px solid #6a3d24;
        border-bottom: 1px solid #6a3d24;
    }
}