<div class="bloc defense">
  <div class="row no-gutters">
    <div class="col-4 titre text-left">DÉFENSE</div>
    <div class="col-6"></div>
    <div class="col-2 titre text-center">Total</div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-auto">
      <shared-graphique-chronique-oubliees-case [body]="'DEF'" [footer]="'DÉFENSE'" [classe]="'negative-marron'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col-md-auto">
      <shared-graphique-chronique-oubliees-case [body]="'10&nbsp;+'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col-3">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [bodyFiligrane]="'Armure'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col-2">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [bodyFiligrane]="'Bouclier'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col-1">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [bodyFiligrane]="'DEX'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col-2">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [bodyFiligrane]="'Divers'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [content]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
  </div>
</div>