<div class="text-center bloc-title">Caractéristiques</div>
<div class="bloc">
  <div class="row no-gutters light-font text-center">
    <div class="col"></div>
    <div class="col">Val</div>
    <div class="col">Mod</div>
    <div class="col">Base</div>
    <div class="col">Intrins</div>
    <div class="col">Alté</div>
  </div> 
  <div class="row no-gutters">
    <div class="col heavy-font">
      FOR
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col heavy-font">
      DEX
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col heavy-font">
      CON
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col heavy-font">
      INT
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col heavy-font">
      SAG
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col heavy-font">
      CHA
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-pathfinder-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-pathfinder-case-oblique>
    </div>
  </div>
</div>