<div class="bloc bloc-top">
  <div class="row no-gutters">
    <div class="col-4 titre text-left">VITALITÉ</div>
    <div class="col-8"></div>
  </div>
  <div class="row no-gutters">
    <div class="col-5">
      <shared-graphique-chronique-oubliees-case [body]="'DV'" [footer]="'DÉ DE VIE'" [classe]="'negative-marron'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col-7">
      <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'D8'"></shared-graphique-chronique-oubliees-case>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-5">
      <shared-graphique-chronique-oubliees-case [body]="'PV'" [footer]="'POINTS DE VIE'" [classe]="'negative-marron'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col-7">
      <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'41'"></shared-graphique-chronique-oubliees-case>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12">
      <shared-graphique-chronique-oubliees-case [header]="'Points de vie restants:'" [body]="'32'" [footer]="'DM temporaires:'" [classe]="'large-double'"></shared-graphique-chronique-oubliees-case>
    </div>
  </div>
</div>