////
/// Fiche de personnage Chroniques Oubliées Fantasy
/// @group personnage/chroniques-oubliees/fantasy/fiche
/// @author Anthony ROCHET
////

/* A4 */
/*
$A4-width: 210mm;
$A4-height: 297mm;*/

/* Couleurs */
$couleurPrincipale: #6a3d24;
