.column {
  aside {
    border: 1px solid $color-title;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    text-align: left;
    box-shadow: 7px 7px 7px #888;
  }
  aside.bulle-left {
    border-left-style: none;
    border-radius: 0mm 2mm 2mm 0mm;
    margin: 4mm 0mm 4mm -3mm;
    padding: 3mm 3mm 3mm 3mm;
  }
  aside.bulle-right {
    border-right-style: none;
    border-radius: 2mm 0mm 0mm 2mm;
    margin: 4mm -3mm 4mm 0mm;
    padding: 3mm 3mm 3mm 3mm;
  }
  aside.bulle-center {
    border-radius: 2mm 2mm 2mm 2mm;
    margin: 4mm 0mm 4mm 0mm;
    padding: 3mm 3mm 3mm 3mm;
  }
}