.container-fluid {
    margin-top: 20px;
    line-height: 1;
}

div[size="A4"] {
    max-width: 210mm;
    max-height: 297mm;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .container-fluid {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    /* ... the rest of the rules ... */
}
@font-face {
    font-family: 'pathfinderFiche';
    src: url('sass/font/oldsh.ttf') format("truetype"),
        url('sass/font/oldsih.ttf') format("truetype"),
        url('sass/font/oldssch.ttf') format("truetype");
}
.fiche-pathfinder /deep/{
    font-family: 'pathfinderFiche';
   .logo-fiche {
        margin-top: -11.5%;
        display:block;
        width: 100%;
    }
    .bloc {
        border: 2px solid #231F20;
        margin: 0px 10px 0px 5px;
        padding: 5px;
        height: 93%;
    }
    .bloc-title {
        height: 7%;
    }
    .heavy-font {
        font-weight: 600;
    }
    .light-font {
        font-size: 0.8rem;
    }
} 