<div class="text-center bloc-title">Résistances</div>
<div class="bloc">
  <div class="row no-gutters titre-row">
    <div class="col-3"></div>
    <div class="col-9 row no-gutters light-font text-center">
      <div class="col-2">Total</div>
      <div class="col-2">Base</div>
      <div class="col-2">Carac</div>
      <div class="col-2">Magic </div>
      <div class="col-4">Divers</div>
    </div>
  </div>
  <div class="row no-gutters standard-row">
    <div class="col-3 heavy-font">
      Réflexes
    </div>
    <div class="col-9 row no-gutters">
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'Dex'" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-4">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
    </div>
  </div>
  <div class="row no-gutters standard-row">
    <div class="col-3 heavy-font">
      Vigueur
    </div>
    <div class="col-9 row no-gutters">
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'Con'" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-4">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
    </div>
  </div>
  <div class="row no-gutters standard-row">
    <div class="col-3 heavy-font">
      Volonté
    </div>
    <div class="col-9 row no-gutters">
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="'Sag'" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-4">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
    </div>
  </div>
  <div class="row no-gutters grid-row">
    <div class="col-12 full-height-column">
      <shared-graphique-case-oblique [classe]="'grid-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
    </div>
  </div>
  <div class="row no-gutters titre-row">
    <div class="col-3"></div>
    <div class="col-9 row no-gutters light-font long-libelle text-center">
      <div class="col-2">Acide</div>
      <div class="col-2">Feu</div>
      <div class="col-2">Foudre</div>
      <div class="col-2">Froid </div>
      <div class="col-2">Son</div>
      <div class="col-2">RM</div>
    </div>
  </div>
  <div class="row no-gutters standard-row">
    <div class="col-3 heavy-font">
      Résist
    </div>
    <div class="col-9 row no-gutters">
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
      <div class="col-2">
        <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
      </div>
    </div>
  </div>
</div>