<h1 i18n>Liste des personnages</h1>

<table class="table table-responsive table-striped table-sm table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th i18n>Nom</th>
        <th i18n>Édition</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personnage of liste">
        <th scope="row">{{personnage.id}}</th>
        <td>{{personnage.nom}}</td>
        <td><a routerLink="/personnage/{{personnage.id}}">
          <i class="fa fa-pencil-square-o"></i>
        </a></td>
      </tr>
    </tbody>
  </table>