<div class="text-center bloc-title">Points de vie</div>
<div class="bloc light-font container-fluid">
  <div class="row no-gutters titre-row">
    <div class="col">Max</div>
    <div class="col long-libelle">Régénération</div>
  </div>
  <div class="row no-gutters standard-row">
    <div class="col">
      <shared-graphique-case-oblique [classe]="'dark-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
    </div>
  </div>
  <div class="row no-gutters titre-row">
    <div class="col long-libelle">Guérison&nbsp;acc.</div>
    <div class="col">RD</div>
  </div>
  <div class="row no-gutters standard-row">
    <div class="col">
      <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
    </div>
    <div class="col">
      <shared-graphique-case-oblique [classe]="'white-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
    </div>
  </div>
  <div class="row no-gutters grid-row-1">
    <div class="col-12 full-height-column">
      <shared-graphique-case-oblique [classe]="'grid-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
    </div>
  </div>
  <div class="row no-gutters titre-row">
    <div class="col-12">
      Dégats non-létaux
    </div>
  </div>
  <div class="row no-gutters grid-row-2">
    <div class="col-12 full-height-column">
      <shared-graphique-case-oblique [classe]="'grid-slot'" [titre]="''" [contenu]="''"></shared-graphique-case-oblique>
    </div>
  </div>
</div>