@import '../../_scss/_main.scss';
.voie {
    margin-top: 0.8rem;
    height: 140mm;

    .titre-voie {
        background-color: $couleurPrincipale;
        color: white;
        text-align: center;
        font-weight: 600;
        line-height: 2rem;
    }
    .column-number {
        width: 25px;
    }
    .center-number {
        line-height: 6rem;
    }
    .row-voie {
        height: 6rem;
        line-height: 1rem;
    }
    .col {
        border-right: 1px solid #6a3d24;
        border-bottom: 1px solid #6a3d24;
    }
}