<div class="bloc arme">
  <menu-option></menu-option>
  <div class="row no-gutters">
    <div class="col-5 titre text-left">ARME</div>
    <div class="col text-center">ATTAQUE</div>
    <div class="col text-center">DM</div>
    <div class="col text-center">SPÉCIAL</div>
  </div>
  <div class="row no-gutters">
    <div class="col-5">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [body]="'1d20&nbsp;+'" [classe]="'basique-left'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-5">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [body]="'1d20&nbsp;+'" [classe]="'basique-left'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-5">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [body]="'1d20&nbsp;+'" [classe]="'basique-left'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
    <div class="col">
      <shared-graphique-chronique-oubliees-case [body]="'&nbsp;'" [classe]="'basique'"></shared-graphique-chronique-oubliees-case>
    </div>
  </div>
</div>