<div class="bloc bloc-top">
    <!-- Titres -->
    <div class="row no-gutters titre">
        <div class="col">
            CARAC.
        </div>
        <div class="col">
            Valeur
        </div>
        <div class="col">
            Mod.
        </div>
        <div class="col"></div>
    </div>
    <!-- Lignes et Colonnes -->
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case [body]="'FOR'" [footer]="'Force'" [classe]="'negative-marron'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'12'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'+1'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique-bord-gris'" [content]="'&nbsp;'"></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case [body]="'DEX'" [footer]="'Dextérité'" [classe]="'negative-marron'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'14'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'+2'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique-bord-gris'" [content]="'&nbsp;'"></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case [body]="'CON'" [footer]="'Constitution'" [classe]="'negative-marron'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'10'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'+0'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique-bord-gris'" [content]="'&nbsp;'"></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case [body]="'INT'" [footer]="'Intelligence'" [classe]="'negative-marron'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'18'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'+4'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique-bord-gris'" [content]="'&nbsp;'"></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case [body]="'SAG'" [footer]="'Sagesse'" [classe]="'negative-marron'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'8'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'-1'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique-bord-gris'" [content]="'&nbsp;'"></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case [body]="'CHA'" [footer]="'Charisme'" [classe]="'negative-marron'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'6'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique'" [content]="'-2'"></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]="'basique-bord-gris'" [content]="'&nbsp;'"></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
</div>