<div class="bloc">
    <!-- Titres -->
    <div class="row no-gutters">
        <div class="col">
            CARAC.
        </div>
        <div class="col">
            Valeur
        </div>
        <div class="col">
            Mod.
        </div>
        <div class="col"></div>
    </div>
    <!-- Lignes et Colonnes -->
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case [classe]=""></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
        <div class="col">
            <shared-graphique-chronique-oubliees-case></shared-graphique-chronique-oubliees-case>
        </div>
    </div>
</div>