<div class="container-fluid fiche-cof" size="A4">
    <div class="row no-gutters">
        <div class="col">
            <feature-personnage-cof-fiche-civilite [personnage]="personnage"></feature-personnage-cof-fiche-civilite>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-4 decalage-bloc">
            <feature-personnage-cof-fiche-caracteristique></feature-personnage-cof-fiche-caracteristique>
        </div>
        <div class="col-8">
            <div class="row no-gutters">
                <div class="col-7 decalage-bloc">
                    <feature-personnage-cof-fiche-combat></feature-personnage-cof-fiche-combat>
                </div>
                <div class="col-5">
                    <feature-personnage-cof-fiche-vitalite></feature-personnage-cof-fiche-vitalite>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12">
                    <feature-personnage-cof-fiche-defense></feature-personnage-cof-fiche-defense>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-4 decalage-bloc">
            <feature-personnage-cof-fiche-capacite-raciale></feature-personnage-cof-fiche-capacite-raciale>
        </div>
        <div class="col-8">
            <feature-personnage-cof-fiche-arme></feature-personnage-cof-fiche-arme>
        </div>
    </div>
    <!-- Profil voies -->
    <feature-personnage-cof-fiche-voie-premier-segment></feature-personnage-cof-fiche-voie-premier-segment>
</div>