<div class="container-fluid fiche-cof" size="A4">
    <div class="row no-gutters">
        <div class="col">
            <feature-personnage-cof-fiche-civilite menuOption></feature-personnage-cof-fiche-civilite>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-4 pr-2">
            <feature-personnage-cof-fiche-caracteristique menuOption></feature-personnage-cof-fiche-caracteristique>
        </div>
        <div class="col-8">
            <div class="row no-gutters">
                <div class="col-7 pr-2">
                    <feature-personnage-cof-fiche-combat menuOption></feature-personnage-cof-fiche-combat>
                </div>
                <div class="col-5">
                    <feature-personnage-cof-fiche-vitalite menuOption></feature-personnage-cof-fiche-vitalite>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12">
                    <feature-personnage-cof-fiche-defense menuOption></feature-personnage-cof-fiche-defense>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-4 pr-2">
            <feature-personnage-cof-fiche-capacite-raciale menuOption></feature-personnage-cof-fiche-capacite-raciale>
        </div>
        <div class="col-8">
            <feature-personnage-cof-fiche-arme menuOption></feature-personnage-cof-fiche-arme>
        </div>
    </div>
    <!-- Profil voies -->
    <div class="row no-gutters">
        <div class="col">
            <feature-personnage-cof-fiche-voie-premier-segment menuOption></feature-personnage-cof-fiche-voie-premier-segment>
        </div>
    </div>

    <!-- Changement de page -->
    <div class="row no-gutters">
        <div class="col-4 pr-2">
            <feature-personnage-cof-fiche-historique-caractere menuOption></feature-personnage-cof-fiche-historique-caractere>
        </div>
        <div class="col-8">
            <div class="row no-gutters">
                <div class="col">
                    <feature-personnage-cof-fiche-equipement menuOption></feature-personnage-cof-fiche-equipement>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <feature-personnage-cof-fiche-regles-optionnelles menuOption></feature-personnage-cof-fiche-regles-optionnelles>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-4 pr-2">
            <feature-personnage-cof-fiche-description menuOption></feature-personnage-cof-fiche-description>
        </div>
        <div class="col-8">
            <feature-personnage-cof-fiche-voie-second-segment menuOption></feature-personnage-cof-fiche-voie-second-segment>
        </div>
    </div>
</div>