<div class="container-fluid" size="A4">
    <div class="row no-gutters">
        <div class="col">
            <!--feature-personnage-feuille-civilite-edition></feature-personnage-feuille-civilite-edition-->
            <feature-personnage-feuille-civilite-lecture [personnage]="personnage"></feature-personnage-feuille-civilite-lecture>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-5">
            <feature-personnage-feuille-caracteristique-lecture></feature-personnage-feuille-caracteristique-lecture>
        </div>
        <div class="col-5">
            <feature-personnage-feuille-resistance-lecture></feature-personnage-feuille-resistance-lecture>>
        </div>
        <div class="col-2">
            Points de vie
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-8">
            Combat
        </div>
        <div class="col-4">
            Exploration
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            Armes
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            Compétences
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <!-- Colonne de gauche -->
            <div class="row no-gutters">
                <div class="col">Compétences bis</div>
            </div>
            <div class="row no-gutters">
                <div class="col">Raciaux / Traits</div>
            </div>
            <div class="row no-gutters">
                <div class="col">Compétences Martiales</div>
            </div>
        </div>
        <div class="col">
            <!-- Colonne de droite -->
            <div class="row no-gutters">
                <div class="col">Dons</div>
            </div>
            <div class="row no-gutters">
                <div class="col">Langues</div>
            </div>
        </div>
    </div>
</div>