.civilite {
    height: 120px;
}
.ligne-1 {
    height: 35px;
    margin-bottom: 15px;
}
.ligne-2 {
    height: 35px;
}
.ligne-3 {
    height: 35px;
}
.gutters {
    padding: 0 15px 0 15px;
}
.underline {
    border-bottom: 1px solid;
}